# Site settings
course_name: "AI Cofounder: A Startup Builder's Guide"
course_description: "AI Cofounder: A Startup Builder's Guide is a 13-week, project-based course for technically inclined individuals who are interested in launching startups, particularly those centered on or enabled by AI. This course is specifically designed for students who envision themselves as the AI cofounder, the person responsible for leading the AI or technical direction of a venture. The targeted startup is an AI-oriented or AI-related venture, and students will be expected to leverage AI to design solutions, drive innovation, and accelerate the development and growth of a future venture. The course previews a practical framework for ideating, building, leading, and scaling a technology startup, following the real-world journey from initial idea through market validation and fundraising preparation. It is especially relevant for technical leaders who want to extend their business savvy, and who aim to create venture-scale value with AI. As AI technologies continue to evolve rapidly, the course will adapt in real-time to market conditions and technology news, ensuring students are working with the most current tools or technology, mental models, and data."
course_semester: "Spring 2026"

baseurl: "/cs11787" # the subpath of your site, e.g. /blog/
url: "http://DominicSlw.github.io/" # the base hostname & protocol for your site

schoolname: "CMU"
schoolurl: "https://www.cs.cmu.edu/"
twitter_username: username 

address: |
    School of Witchcraft and Wizardry
    Hogwarts
    Scotland

# Set your Google Analytics tracking ID (set up yours at http://www.google.com/analytics/)
# google_analytics: UA-XXXXXXXX-X

### Do not change the followings unless you know what you are doing ###

# Build settings
markdown: kramdown

# Other options
permalink: blog/:year/:month/:title
excerpt_separator: "<!--more-->"

include: ['_images', '_css']
exclude: ['develop']

dateformat: "%m/%d/%Y"

future: true
collections:
    events:
        output: true
    lectures:
        output: true
    assignments:
        output: true
    announcements:
        output: false


defaults:
  - scope:
      path: ""
      type: "assignments"
    values:
      layout: "assignment"
